<script src="http://a.com:<%= @port %>/asset.js" type="text/javascript"></script>
<script src="http://b.com:<%= @port %>/asset.js" type="text/javascript"></script>
<script src="http://c.com:<%= @port %>/asset.js" type="text/javascript"></script>
<script src="http://a.b.com:<%= @port %>/asset.js" type="text/javascript"></script>

<p>Hi, I'm <%= @host %> and I'm directing your browser to request assets via script tags that try to set third-party cookies</p>