<iframe src="http://a.com:<%= @port %>/asset.html"></iframe>
<iframe src="http://b.com:<%= @port %>/asset.html"></iframe>
<iframe src="http://c.com:<%= @port %>/asset.html"></iframe>
<iframe src="http://a.b.com:<%= @port %>/asset.html"></iframe>
<iframe src="http://b.b.com:<%= @port %>/asset.html"></iframe>

<p>Hi, I'm <%= @host %> and I'm directing your browser to request assets via iframes that try to set third-party cookies</p>